<h1>New micropost</h1>
<div class="m-3 card-body"> 
<%= render "form", micropost: @micropost %>

<br>

<div>
  <%= link_to "Back to microposts", microposts_path,class: "text-center border p-2 m-3 btn-outline-primary btn" %>
</div>

</div>
